src/main/resources/xsd/pacientes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://ginecologia.com/soap"
           targetNamespace="http://ginecologia.com/soap"
           elementFormDefault="qualified">

    <!-- ==================== TIPOS COMUNES ==================== -->

    <xs:element name="getPacienteRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPacienteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paciente" type="tns:Paciente"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllPacientesRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllPacientesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paciente" type="tns:Paciente" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="crearPacienteRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="codigoFacil"        type="xs:string"/>
                <xs:element name="nombreCompleto"     type="xs:string"/>
                <xs:element name="dni"                type="xs:string"/>
                <xs:element name="telefono"           type="xs:string" minOccurs="0"/>
                <xs:element name="email"              type="xs:string" minOccurs="0"/>
                <xs:element name="grupoSanguineo"     type="xs:string" minOccurs="0"/>
                <xs:element name="alergias"           type="xs:string" minOccurs="0"/>
                <xs:element name="semanasGestacion"   type="xs:int"    minOccurs="0"/>
                <xs:element name="observaciones"      type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="crearPacienteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paciente" type="tns:Paciente"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==================== TIPO PACIENTE ==================== -->

    <xs:complexType name="Paciente">
        <xs:sequence>
            <xs:element name="id"                 type="xs:long"   minOccurs="0"/>
            <xs:element name="codigoFacil"        type="xs:string"/>
            <xs:element name="nombreCompleto"     type="xs:string"/>
            <xs:element name="dni"                type="xs:string"/>
            <xs:element name="telefono"           type="xs:string" minOccurs="0"/>
            <xs:element name="email"              type="xs:string" minOccurs="0"/>
            <xs:element name="grupoSanguineo"     type="xs:string" minOccurs="0"/>
            <xs:element name="alergias"           type="xs:string" minOccurs="0"/>
            <xs:element name="semanasGestacion"   type="xs:int"    minOccurs="0"/>
            <xs:element name="observaciones"      type="xs:string" minOccurs="0"/>
            <xs:element name="fechaRegistro"      type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
